:root {
    --bg-table-stripe: #f6f6f5;
    --b-table: #e3e3e2;
    --caption: #242423;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

@media screen and (max-width: 1920px) {
    body, html, body, h2, h1 {
        width: 98%;
    }

    #title {
        float: left;
        margin-left: 40%;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 720px) {
    body, html, body, h2, h1 {
        width: 98%;
    }

    #title {
        float: left;
        margin-left: 40%;
        padding-bottom: 25px;
    }
}


/* Navbar */
nav.navbar {
    display: inline-block;
    background: lightgray;
    padding: 12px 0 12px 20px;
    width: 100%;
    border-radius: 30px;
}

ul.navbar-nav {
    display: inline-block;
}

li.nav-item {
    list-style-type: none;
    display: inline-flex;
}

/*Body and HTML*/
html, body, h2, h1 {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center
}

h2 {
    margin-bottom: 21px;
}

body {
    background-image: none;
    background-color: transparent;
}

p, h1 {
    text-align: justify;
    margin-left: 100px;
}

p {
    text-align: justify;
    margin-left: 100px;
    margin-bottom: 50px;
}

article {
    margin: 20px 20px 30px 40px;
    color: red
}

footer {
    display: block;
    margin-right: 12px;
}

article#article1 {
    color: red;
}

#title {
    float: left;
    margin-left: 40%;
    padding-bottom: 25px;
}


/* Table Layout */
table {
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    table-layout: fixed;
}

table td {
    padding: 10px;
}

th {
    text-align: left
}

td.title {
    font-weight: bold;
}

td.title2 {
    font-weight: bold;
    padding-bottom: 13px;
}

table caption {
    padding: 0 0 30px 0;
}

tbody {
    font-size: 12px;
}

td.text {
    padding: 0;
    margin: 0;
}

td.textRight {
    padding: 0 0 42px 0;
}

td.textMid {
    padding: 1px 1px 0 0;
}

td:nth-child(1) {
    width: 33.33%;
    padding: 0;
    text-align: left;
}

/*
td:nth-child(2) {
    width: 33.33%;
    padding: 0;
    text-align: left;
}

td:nth-child(3) {
    width: 33.33%;
    padding: 0;
    text-align: left;
}
*/


img.logo {
    height: 50px;
    float: right;
    margin-top: 210px;
}

a.copyright {
    float: left;
    margin-left: 41%;
    margin-top: 200px;
}

a:link, a:visited, a:active {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline overline;

}

a:active {
    text-decoration: none;
}

.footer-links {
    float: left;
    margin-left: -142px;
    margin-top: 48px;
}

ul.ul-footer {
    display: inline-flex;
    list-style-type: none;
    padding: 20px;
    margin-top: 204px;
}

li.li-footer {
    padding: 8px;
}

h1.title {
    float: right;
    padding: 10px 0 20px 5px
}

@media screen and (max-width: 1920px) {
    h1.title {
        display: block;
        margin-left: 608px;
    }
}

/* Form to Contact Us */


input {
    outline: none;
    border: none;
}

/*==================================================================
[ Contact - Area]*/

.container-contact {
    width: 100%;
    min-height: 70vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: transparent;
}

.wrap-contact {
    width: 700px;
    background: transparent;
    border: 1px solid #b3b3b3;
    padding: 40px 0 20px 0;
}

.wrap-contact-image {
    width: 600px;
    background: transparent;
    padding: 40px 0 20px 0;
}

/*==================================================================
[ Contact - Form ]*/

.contact-form {
    width: 100%;
}

.error {
    padding: 5px 9px;
    border: 1px solid red;
    color: red;
    border-radius: 3px;
}

.success {
    padding: 5px 9px;
    border: 1px solid green;
    color: green;
    border-radius: 3px;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input {
    width: 90%;
    background-color: #fff;
    border: 1px solid #b3b3b3;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
}

span.radio-border {
    display: inline-flex;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

p.wrap-p {
    float: left;
    position: absolute;
    margin: -34px 85px;
    padding: 0;
    font-size: 12px;
}

.input {
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 31px;
    color: #8f8fa1;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2em;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: none;
}

/*---------------------------------------------*/

input.input {
    height: 15px;
    padding: 0 15px 0 15px;
}


textarea.input {
    min-height: 169px;
    padding: 19px 15px 0 15px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 31px;
    background-color: #fff;
    pointer-events: none;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input:focus + .focus-input100 {
    width: calc(100% + 20px);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}

.contact-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 250px;
    height: 50px;
    background-color: transparent;
    border-radius:7px;
    cursor: pointer;

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
}

.contact-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 7px;
    background-color: #9e8c7b;
    pointer-events: none;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact-form-btn:hover:before {
    background-color: #916439;
}

.validate-input {
    position: relative;
}

/*==================================================================
[ Info Grid]*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px;
    grid-gap: 100px;
    padding: 10px 30px 0 30px;
}

.grid-container > div {
    padding: 20px 0;
    font-size: 10px;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}


/*==================================================================
[  Hero title ]*/


.listing-hero {
    background: #F7F0EA;
    padding: 101px 0 30px;
}

.hero-heading {
    margin: 0 auto;
    width: 100%;
    max-width: 709px;
}

section#post-28 {
    padding-top: 155px;
}

.hero-large {
    display: inline-block;
    width: 40%;
    font-weight: 300;
    font-size: 56px;
    line-height: 56px;
    position: relative;
    top: -19px;
    color: #454545;
}

.hero-text {
    display: inline-block;
    width: 59%;
    vertical-align: top;
    border-left: 1px solid #8E8E8E;
    padding: 0 33px;
    font-size: 15px;
    line-height: 23px;
    /* or 153% */
    color: #454545;
}


.hero-text .btn.no-border {
    margin-top: 15px;
    margin-bottom: 6.5px;
    background-repeat: no-repeat;
    background-size: 25px;
    display: block;
    background-position: right center;
    max-width: 99px;
}

.hero-text i {
    font-style: normal;
    margin-top: -6px;
    display: block;
}

textarea {
    outline: none;
    border: none;
    font-family: Helvetica Neue, "Montserrat", sans-serif;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #bdbdd3;}
input:-moz-placeholder { color: #bdbdd3;}
input::-moz-placeholder { color: #bdbdd3;}
input:-ms-input-placeholder { color: #bdbdd3;}

textarea::-webkit-input-placeholder { color: #bdbdd3;}
textarea:-moz-placeholder { color: #bdbdd3;}
textarea::-moz-placeholder { color: #bdbdd3;}
textarea:-ms-input-placeholder { color: #bdbdd3;}

.select {
    cursor: pointer;
    margin: 1rem auto;
    display: inline-block;
    height: 40px;
    position: relative;
    text-rendering: auto;
    width: 139px;
    line-height: 1.5em;
    border: 1px solid;
    border-radius: 1px;
}


/* Slider Thumbs */
.img-gallery {
    max-width: 960px;
    height: 100%;
    margin: 90px auto;
    padding: 20px;
}

.img-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img {
    display: block;
}

/* ----- Style the elements ----- */

/* Wrap the image and alt text */
/* Will be added with js */
.alt-wrap {
    display: block;
    position: relative;
    margin: 20px;
    color: whitesmoke;
    border: 1px solid mediumorchid;
}

/* The alt text itself */
/* Will be added with js */
.alt-wrap p.alt {
    position: absolute;
    opacity: 0; /* hide initially */
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 300ms ease;
    transition-delay: 300ms;
}

/* Hovering over the wrapper shows its alt p*/
.alt-wrap:hover > p.alt {
    opacity: 1;
    transition-delay: 0s;
}

img.img {
    transition: 0.25s ease;
    width: 230px;
}

img:hover {
    -webkit-transform: scale(1.5); /* Change this value  */
    transform: scale(1.5);
}

/* Audio Section */
.audio-player{
    display:none
}
.audio {
    display:none;
}
audio{
    display: inline-block;
}


