* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

/* Navbar */
nav.navbar {
    display: inline-block;
    background: lightgray;
    padding: 12px 0 12px 20px;
    width: 100%;
    border-radius: 30px;
}

ul.navbar-nav {
    display: inline-block;
}

li.nav-item {
    list-style-type: none;
    display: inline-flex;
}

/*Body and HTML*/
html, body, h2, h1
{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: none;
    background-color: transparent;
}

p, h1 {
    text-align: justify;
    margin-left: 100px;
}

article {
    margin: 20px 20px 30px 40px;
    color: red
}

footer {
    display: block;
    margin-right: 12px;
}
article#article1 {
    color: red;
}

img.logo {
    height: 50px;
    float: left;
    margin-left: 720px;
    margin-top: 175px;
}

a.copyright {
    float: left;
    margin-left: 41%;
    margin-top: -20px;
}

a:link, a:visited, a:active {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline overline;
    
}

a:active {
    text-decoration: none;
}

.footer-links {
    float: left;
    margin-left: -142px;
    margin-top: 48px;
}

ul.ul-footer {
    display: inline-block;
    display: -webkit-inline-box;
    list-style-type: none;
    padding: 20px;
    margin-top: 204px;
    margin-left: -195px;
}

li.li-footer {
    padding: 8px;
}

h1.title {
    display: inline-flex;
    flex-wrap: nowrap;
    margin-left: 608px;
}

/* Form to Contact Us */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
      width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

.formContact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=submit]:hover {
    background-color: #45a049;
  }

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

/* Gallery */

.column {
    float: left;
    width: 33.33%;
    height: 320px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}

.column img {
    height: 100%;
}